.acf-input-prepend, .acf-input-append, .acf-input-wrap {
    height: auto !important;
}

.wp-block .acf-block-fields.acf-fields p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 13.5px;
}

.wp-block .icon-blocks svg {
    width: 15px;
    height: auto;
    margin-top: -2px;
}

.acf-block-preview h4 {
    margin-top: 3px !important;
    margin-bottom: 7px !important;
}

.acf-block-preview .acf-label {
    margin-bottom: 0 !important;
}