/*SIZE*/
/* COLORS */
/* FONTS SIZE */
/* FONT FAMILY */
/* Media queries */
/* Ejemplo Uso
body{ 
    ...
    @include media-breakpoint-up($sm) {
        background:red;
    }
    @include media-breakpoint-up($md) {
        background:none;
    }
    ...   
}
*/
/* Ejemplo de uso:
p{
  @include text-truncate();
}
*/
/* Ejemplo de uso:
p {
  @include font-size(13);
}
*/
/* Ejemplo de uso:
p {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}
*/
.cookiealert {
  margin-bottom: 0;
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0;
}

@media (min-width: 992px) {
  .cookiealert {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: auto;
  }
}

.cookiealert p {
  color: #000000;
  font-size: 12px;
  font-size: 0.75rem;
  text-align: center;
}

.cookiealert p a {
  color: #000000;
  font-family: "poppins-bold";
}

.cookiealert p a:hover {
  color: #000000;
}

@media (min-width: 992px) {
  .cookiealert p a {
    color: #ffffff;
  }
  .cookiealert p a:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}

@media (min-width: 992px) {
  .cookiealert p {
    color: #ffffff;
    text-align: left;
  }
}

.cookiealert .title {
  font-family: "poppins-bold";
  margin-bottom: 0;
  font-size: 16px;
  font-size: 1rem;
}

.cookiealert .cookiealert-container {
  position: relative;
  z-index: 10;
}

@media (min-width: 992px) {
  .cookiealert .cookiealert-container {
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.cookiealert .wrap-btn-principal {
  height: 36px;
  max-width: 200px;
  min-width: 152px;
  font-size: 14px;
  font-size: 0.875rem;
  border-radius: 3px;
  font-family: "poppins-medium";
}

.cookiealert .wrap-btn-principal::after {
  background-color: #ffffff;
}

.cookiealert .wrap-btn-principal:hover button, .cookiealert .wrap-btn-principal:hover input {
  color: #000000;
}
